:host {
    max-width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    z-index: 1000;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms; 
}

:host:after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px auto;
    width: 0;
    height: 0;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
