.div{
    margin: auto;
    padding: 50px;
}

.paper{
    padding: 10px;
}

.template{
    margin: 20px;
}

.bullet{
    background: black;
    color: blue;
    cursor: pointer;
    margin: 500px;
}

.bullet > div{
    background: blue;
}