<paperstemplate [dataList]="[data]" [templates]="templates" [useLongPaper]="true">
</paperstemplate>

<ng-template #dialog let-data>
  <div appDisabled>
    <app-dialog [data]="data"></app-dialog>
  </div>
</ng-template>

<ng-template #description let-data>
  <div appDisabled>
    <app-description [data]="data">
    </app-description>
  </div>
</ng-template>



<ng-template #sceneHeader attr.data-name='sceneHeader' let-data>
  <button (click)="print()">print</button>
  <div class="parent">
    <div id="c1">
      <chipgroup [dataList]="data.chips" [popover]="true"></chipgroup>
    </div>
    <div class="header" id="c2" [appDisabled]="false">
      <app-element class="headerElement" [data]="data" heading></app-element>
      <app-element class="headerElement" [data]="data.subtitle" [hideIfEmpty]='false'></app-element>
    </div>
    <div id="c3">
      <chiptoggle [dataList]="data.toggle"></chiptoggle>
    </div>
  </div>
  <mat-divider></mat-divider>
</ng-template>