.artist {
  display: inline-block;
}

.dialog {
  display: block;
  max-width: 100%;
}
app-element {
  display: block;
}

.dialogcontainer {
  width: 50%;
  padding: 0;
  display: inline-block;
}

:host{
  display: block;
  width: 100%;
  overflow: auto;
}
.artistcontainer {
  width: 49%;
  float: left;
  margin-right: 1%;
  margin-top: 2%;
}

.arrow {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px auto;
  width: 0;
  height: 0;
  border-right: 15px solid;
  border-left: 8px inset transparent;
  border-top: 8px inset transparent;
  border-bottom: 8px inset transparent;
}

.border {
  border-radius: 100px;
}
