@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  background: rgb(204, 204, 204);
}

@media print { 
  
  * {
   -webkit-print-color-adjust: exact;
}

}
.heading {
  font: bold;
  font-size: 2em;
}

.subheading {
  font: bold;
  font-size: 1em;
}

.chip {
  outline-width: 0;
  border: 3px solid;
  border-color: inherit;
  border-radius: 5px;
  padding: 2px;
  display: inline-block;
  max-width: 100%;
}

.dialog {
  padding: 10px;
}

.description {
  display: block;
}
