<div class="parent">
    <div class="artistcontainer">
        <app-element chip class="artist"
            [(value)]="data.artist.value" [placeholder]="data.artist.placeholder"
            [hideIfEmpty]="data.artist.hideIfEmpty" [focus]="data.focus">
        </app-element>
    </div>
    <div class="dialogcontainer">
        <div class="arrow"></div>
        <app-element [borderColor]="borderColor" [backgroundColor]="backgroundColor" class="dialog" dialog
            [(value)]="data.dialog.value" [placeholder]="data.dialog.placeholder"
            [hideIfEmpty]="data.dialog.hideIfEmpty" [focus]="data.focus">
        </app-element>
    </div>
</div>