<div class="parent">
    <div class="artistcontainer">
        <chiptoggle [dataList]="data.artists" [multiple]="true" [editable]="false"></chiptoggle>
    </div>
    <div class="dialogcontainer">
        <div class="arrow"></div>
        <app-element [borderColor]="borderColor" [backgroundColor]="backgroundColor" class="dialog" dialog
            [(value)]="data.dialog.value" [placeholder]="data.dialog.placeholder"
            [hideIfEmpty]="data.dialog.hideIfEmpty" [focus]="data.focus">
        </app-element>
    </div>
</div>